[submodule "ResearchKit"]
	path = ResearchKit
	url = https://github.com/chb/ResearchKit.git
[submodule "Swift-SMART"]
	path = Swift-SMART
	url = https://github.com/smart-on-fhir/Swift-SMART.git
[submodule "CryptoSwift"]
	path = CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
[submodule "examples"]
	path = examples
	url = https://github.com/C3-PRO/c3-pro-sample-data.git
