[submodule "ResearchKit"]
	path = ResearchKit
	url = https://github.com/chb/ResearchKit.git
[submodule "Swift-SMART"]
	path = Swift-SMART
	url = https://github.com/smart-on-fhir/Swift-SMART.git
[submodule "CryptoSwift"]
	path = CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
[submodule "SQLiteSwift"]
	path = SQLiteSwift
	url = https://github.com/p2/SQLite.swift.git
