# require ResearchKit
github "ResearchKit/ResearchKit" "master"

# require SMART
github "smart-on-fhir/Swift-SMART" == 2.8.1

# require CryptoSwift
github "krzyzanowskim/CryptoSwift" ~> 0.6.0

# require SQLite.swift
github "stephencelis/SQLite.swift" ~> 0.11.2

# require JSONWebToken.swift
github "kylef/JSONWebToken.swift" ~> 2.1.0
