# require ResearchKit
github "ResearchKit/ResearchKit" ~> 1.3

# require SMART
github "smart-on-fhir/Swift-SMART" "feature/swift-3"

# require CryptoSwift
github "krzyzanowskim/CryptoSwift" "swift3"

# require SQLite.swift
github "p2/SQLite.swift" "hotfix/insert-or-ignore"
